.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: #F16664;
    color: white;
    font-weight: 300;
}

.nav-link-wrapper {
    display: flex;
    width: 350px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    padding: 8px 10px;
}

.is-active {
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-radius: 3px;
}

.active-user-wrapper {
    display: flex;
    width: 350px;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
}